<div class="about-section">
    <h1>About Us Page</h1>
    <p>A company dedicated to get you on the path towards financial freedom.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="NyaaCat" style="width:100%">
        <div class="container">
          <h2>Nyaa Cat</h2>
          <p class="title">CEO & Founder</p>
          <p>Meow meow meow</p>
          <p>NyaaCat@nyaarockinvestments.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="ShibaInu" style="width:100%">
        <div class="container">
          <h2>Shiba Inu</h2>
          <p class="title">Art Director</p>
          <p>Woof woof woof</p>
          <p>ShibaInu@nyaarockinvestments.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="container">
            <h2>Office Location</h2>
            <app-map></app-map>
          </div>
        </div>
    </div>

