.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  font-size: large;
}

.button {
  border: none;
  border-radius: 10px;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: grey;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

mat-card {
  margin-top: 30px;
  padding: 40px;
  max-width: 700px;
  background-color: whitesmoke;
}

.flex {
  display: flex;
}

.m-auto {
  margin: auto;
}

mat-card-actions {
  display: flex;
  justify-content: space-evenly;
}

mat-card-title {
  padding: 15px;
}

mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}