<div class="about-section">
  <h1>About Us</h1>
  <p>A company dedicated to get you on the path towards financial freedom.</p>
</div>
<br>
<h1 style="text-align:center">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./assets/img/catCEO.png" style="width:100%">
      <div class="container">
        <h2>Nyaa Neko</h2>
        <p class="title">CEO & Founder</p>
        <p>Meow meow meow</p>
        <p>NyaaCat@nyaarockinvestments.com</p>
        <p><button (click)="sendEmail()" class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./assets/img/dogeVP.png" style="width:100%">
      <div class="container">
        <h2>Shiba Inu</h2>
        <p class="title">Chief Technology Officer</p>
        <p>Woof woof woof</p>
        <p>ShibaInu@nyaarockinvestments.com</p>
        <p><button (click)="sendEmail()" class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="location-section">
        <div class="container">
          <h2>Office Location</h2>
        </div>
        <div>
          <!-- <google-map [options]="mapOptions">
            <map-marker [options]="markerOptions">
            </map-marker>
          </google-map> -->
          <app-map></app-map>
        </div>
      </div>
    </div>
  </div>

  