
<div *ngIf="errorMsg">
    {{ errorMsg }}
</div>
<div *ngIf="stockSymbol.length <= 0; else list">
    
    <div class="outerbox">
        <table class="stock-table">
            <tr>
                <th>Oh no! You do not have any stocks in the list.
                    <br>
                    Try using the search function to add some stocks.
                </th>
                <th></th>  
            </tr>
        </table>
    </div>
</div>

<ng-template #list>
    <div>
        <app-portfolio [stockSymbol]="stockSymbol" [stockQuantity]="stockQuantity" ></app-portfolio>
    </div>
    <div class="outerbox">
        <table class="stock-table">
            <tr >
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Currency</th>
                <th>Stock Price</th>
                <th>Dividend Rate</th>
                <th>Dividend Yield</th>
                <th>Value</th>
                <th>Yearly Dividends</th>
                <th></th>
                <th></th>
                
            </tr>
            <tr *ngFor="let y of yahooStockList; let i = index">
                <td>{{ y.symbol }}</td>
                <td>{{ stockQuantity[i] }}</td>
                <td>{{ y.currency }}</td>
                <td>${{ y.ask | number:'.1-2'}}</td>
                <td>${{ y.trailingAnnualDividendRate | number:'.2'}}</td>
                <td>{{ y.trailingAnnualDividendYield | number:'.2'}}%</td>
                <td>${{ y.ask | multiply: stockQuantity[i] | number:'.2'}}</td>
                <td>${{ y.trailingAnnualDividendRate | multiply: stockQuantity[i] | number:'.2'}}</td>
                <td></td>


                <td>
                    <button mat-icon-button type="button" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>  
            </tr>
        </table>
    </div>
   
</ng-template>
