.stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .stock-table th,
  .stock-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .stock-table th {
    background-color: #f2f2f2;
  }

  .stock-table td:last-child {
    text-align: right;
  }
  
  .outerbox {
    padding: 20px;
  }

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.centerbox {
  display: flex;
  justify-content: space-evenly;
}

.box {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}

mat-card {
  margin-top: 10%;
  padding: 40px;
  max-width: 100%;
  background-color: whitesmoke;
}