
mat-card {
    margin-top: 15px;
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
}

.flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

.mat-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

