<div class="flex">
  <div class="m-auto">
    <mat-card>
      <mat-card-content>
        <google-map [options]="mapOptions">
          <map-marker [options]="markerOptions">
          </map-marker>
        </google-map>
        <mat-divider></mat-divider>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Contact Us:
              </mat-panel-title>
              <mat-panel-description>
                <b>Nyaa-Rock Investments Pte Ltd</b>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <h2>Nyaa-Rock Investments Pte Ltd</h2>
                <mat-icon>home</mat-icon>
                <br>
                25 Heng Mui Keng Terrace
                <br>
                Institute of Systems Science
                <br>
                Singapore 119615
                <br>
                <br>
                <mat-icon>phone</mat-icon>
                <br>
                (+65) 6123-4567
                <br>
                <br>
                <mat-icon>email</mat-icon>
                <br>
                nyaarockinvestment@gmail.com
                <br>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>