<script src="https://accounts.google.com/gsi/client" async defer></script>

<div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <table>
            <tbody>
                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput formControlName="givenname">
                        <mat-error *ngIf="registerForm.invalid">First Name is mandatory</mat-error>
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>Family Name</mat-label>
                        <input type="text" matInput formControlName="familyname">
                        <mat-error *ngIf="registerForm.invalid">Last Name is mandatory</mat-error>
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>E-mail</mat-label>
                        <input type="email" matInput formControlName="email">
                        <mat-error *ngIf="registerForm.invalid">Please enter a valid e-mail</mat-error>
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field hintLabel="Min 8 characters" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput #input minlength="8" formControlName="password">
                        <mat-hint align="end">{{input.value.length}}/8</mat-hint>
                    </mat-form-field>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="centerbox">
                            <button type="submit" mat-raised-button [disabled]="registerForm.invalid">
                                Register
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>