<!-- <mat-card *ngIf="stockOverview" class="card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Stock Overview</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <app-charts stockName={{stockName}}></app-charts>
    <br>
    Name: {{stockOverview.name}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Description: {{stockOverview.description}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Exchange: {{stockOverview.exchange}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Country: {{stockOverview.country}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Sector: {{stockOverview.sector}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Industry: {{stockOverview.industry}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Dividend Per Share: {{stockOverview.dividendPerShare}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Dividend Yield: {{stockOverview.dividendYield}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    52 Week High: {{stockOverview.fiftyTwoWeekHigh}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    52 Week Low: {{stockOverview.fiftyTwoWeekLow}}
    <br>
    <br>
    <form [formGroup]="quantityForm" (ngSubmit)="addToPortfolio()">
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input type="number" formControlName="quantity" />
        <mat-error *ngIf="quantityForm.invalid">Minimum quantity is 1 unit(s)</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="quantityForm.invalid">Add to portfolio</button>
    </mat-card-actions>
  </mat-card-subtitle>
</mat-card> -->

<mat-card *ngIf="stockOverview" class="card">
  <mat-card-header>
    <mat-card-title>Stock Overview</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-charts [stockName]="stockName"></app-charts>
    <br>
    <p>Name: {{ stockOverview.name }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>Description: {{ stockOverview.description }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>Exchange: {{ stockOverview.exchange }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>Country: {{ stockOverview.country }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>Sector: {{ stockOverview.sector }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>Industry: {{ stockOverview.industry }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>Dividend Per Share: {{ stockOverview.dividendPerShare }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>Dividend Yield: {{ stockOverview.dividendYield }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>52 Week High: {{ stockOverview.fiftyTwoWeekHigh }}</p>
    <mat-divider></mat-divider>
    <br>
    <p>52 Week Low: {{ stockOverview.fiftyTwoWeekLow }}</p>
    <mat-divider></mat-divider>
    <br>
    <div class="container">
      <form [formGroup]="quantityForm" (ngSubmit)="addToPortfolio()">
        <mat-form-field >
          <mat-label>Please enter quantity:</mat-label>
          <input matInput type="number" formControlName="quantity" required>
          <mat-error *ngIf="quantityForm.invalid">Minimum quantity is 1</mat-error>
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <button mat-raised-button type="submit" [disabled]="quantityForm.invalid">Add to portfolio</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
