.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}