<mat-toolbar color="primary" class="flex justify-content-between">
    <div>
        <mat-icon>pets</mat-icon>
        Nyaa-Rock Investments
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="isLoggedIn" mat-menu-item routerLink="/home" routerLinkActive="active_route">
                <mat-icon>leaderboard</mat-icon>
                <span>Portfolio</span>
            </button>
            <button *ngIf="isLoggedIn" mat-menu-item routerLink="/search" routerLinkActive="active_route">
                <mat-icon>query_stats</mat-icon>
                <span>Search</span>
            </button>
            <button mat-menu-item routerLink="/about" routerLinkActive="active_route">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
        </mat-menu>
    </div>
    <div *ngIf="isLoggedIn; else Login">
        <mat-icon>verified_user</mat-icon>
        <span>&nbsp;&nbsp;Welcome Back,</span>
        {{ givenname | titlecase }}&nbsp;&nbsp;
        <button mat-raised-button type="button" color="warn" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </div>

</mat-toolbar>

<router-outlet></router-outlet>

<ng-template #Login>
    <div class="center">
        <button mat-raised-button type="button" routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
    </div>
</ng-template>