<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Welcome {{ givenname | titlecase }}</mat-toolbar>
        <div class="center" *ngIf="isLoggedIn; else Login">
            <button type="button" (click)="logout()">Logout</button>
        </div>
        <mat-nav-list>
            <div *ngIf="isLoggedIn">
                <a mat-list-item routerLink="/portfolio">Portfolio</a>
                <a mat-list-item routerLink="/search">Search Stock</a>
                <a mat-list-item routerLink="/list">List Stock</a>
                <a mat-list-item routerLink="/about">About</a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Nyaa-Rock Investments</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

<ng-template #Login>
    <div class="center" >
        <button type="button" [routerLink]="['/login']">
            Login
        </button>
    </div>
</ng-template> -->

<mat-toolbar color="primary" class="flex justify-content-between">
    <div>
        <mat-icon>pets</mat-icon>
        Nyaa-Rock Investments
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="isLoggedIn" mat-menu-item routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button *ngIf="isLoggedIn" mat-menu-item routerLink="/portfolio">
                <mat-icon>leaderboard</mat-icon>
                <span>Portfolio</span>
            </button>
            <button *ngIf="isLoggedIn" mat-menu-item routerLink="/search">
                <mat-icon>query_stats</mat-icon>
                <span>Search</span>
            </button>
            <button mat-menu-item routerLink="/about">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
            <button mat-menu-item routerLink="/map">
                <mat-icon>map</mat-icon>
                <span>Map</span>
            </button>
        </mat-menu>
    </div>
    <div *ngIf="isLoggedIn; else Login">
        <mat-icon>verified_user</mat-icon>
        <span>&nbsp;&nbsp;Welcome Back,</span>
        {{ givenname | titlecase }}&nbsp;&nbsp;
        <button mat-raised-button type="button" color="warn" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </div>

</mat-toolbar>

<router-outlet></router-outlet>

<ng-template #Login>
    <div class="center">
        <button mat-raised-button type="button" [routerLink]="['/login']">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
    </div>
</ng-template>