#chart-container {
  width: auto;
  height: 500px;
  margin-bottom: 20px;
  border: solid 2px;
  border-color: grey;
  border-radius: 15px;
  padding: 10px;
}

#chart-container2 {
  width: auto;
  height: 500px;
  margin-bottom: 20px;
  border: solid 2px;
  border-color: grey;
  border-radius: 15px;
  padding: 10px;
}
