<div *ngIf=!stocks>
    <mat-divider></mat-divider>
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
    <mat-divider></mat-divider>
</div>
<div class="flex">
    <div class="m-auto">
        <mat-nav-list>
            <a mat-list-item *ngFor="let s of stocks" [routerLink]="['/overview', s.symbol]">
                <mat-card>
                    <mat-card-content>
                        <span matListItemTitle><strong>Stock Symbol: {{s.symbol}}</strong></span>
                        <span matListItemLine> Name: {{s.name}}</span>
                        <span matListItemLine> Type: {{s.type}}</span>
                        <span matListItemLine> Region: {{s.region}}</span>
                        <span matListItemLine> Currency: {{s.currency}}</span>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-nav-list>
    </div>
</div>